<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
  <beans>
    <bean id="tableJoin" class="com.astuntechnology.wps.join.TableJoinProcess"/>
    <bean id="picker" class="com.astuntechnology.wps.picker.PickerProcess"/>
    <bean id="union"  class="com.astuntechnology.wps.picker.UnionProcess"/>
  </beans>